<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-bottom:25px">

  <div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad">
    </slideshow>
  </div>
</div>
