<div class='playernav'>
  <ul>
    <li>
      <a class='coolbutton' routerLink="/account">Account Home</a> |
    </li>
    <li>
      <a class='coolbutton' routerLink="/account/characters">Characters</a> |
    </li>
    <li>
      <a class='coolbutton' routerLink="/account/combine">Combine Section</a> |
    </li>
    <li>
      <a class='coolbutton' routerLink="/account/ccpredeems">CCP Redeems History</a> |
    </li>
    <li>
      <a class='coolbutton' routerLink="/account/punishments">Punishment History</a>
    </li>
  </ul>
</div>
