
			<div class="title-cover">
				<h1>Welcome</h1>
			</div>
			<div class="page-content">

					<p>Welcome to the official website of the CombineControl community!</p>

					<p>CombineControl is an open Garry's Mod community focusing on serious roleplay themed after the Half-Life universe.</p>

					<p>Here you can take part in the many sides of life in the Combine cities of Half-Life 2.</p>

					<p>From this website, you can see many details about our community, including our forum, where you can find all kinds of discussion and information.</p>

					<app-home-widgets></app-home-widgets>

			</div>
